<!-- tierlists/templates/tierlists/tierlists.html -->
{% extends 'base.html' %}

{% block title %}Tier Lists{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Tier Lists</h1>
        <p class="lead">Browse tier lists created by users.</p>
    </div>
</div>
<div class="row mt-4">
    {% for tierlist in tierlists %}
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ tierlist.title }}</h5>
                <p class="card-text">
                    <strong>Created by:</strong> {{ tierlist.user.username }}<br>
                    <strong>Description:</strong> {{ tierlist.description }}
                </p>
                <a href="{% url 'tierlist_detail' tierlist.id %}" class="btn btn-primary">View Tier List</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
